pandas==0.24.2
lxml==4.6.3
aiohttp==3.7.4
requests==2.22.0
Pillow==9.0.0
beautifulsoup4==4.9.0
plugins==0.5a1dev
pymongo==3.10.1
telethon==1.13.0
typing==3.7.4.1
PyYAML==5.4
timezonefinder==4.4.0
pandas==0.24.2
mongoengine==0.10.7
